<!-- <p>interpolacion works!</p>
{{ nombre?.toUpperCase() + " HTML" }}
<br />
{{ nombre ? "Tiene valor" : "No tiene valor" }}
<br /> -->
<!-- {{ new Date() }} -->
<p>Componente de Interpolación</p>
<!-- <div class="clase-ejemplo">
  {{ nombre?.toUpperCase() }}
</div> -->
<!-- <div [ngClass]="nombre ? 'clase-roja' : 'clase-azul'"> -->
<!-- <div [style.font-size]="nombre ? '20px' : '10px'">
  {{ nombre ? "Tiene valor" : "No tiene valor" }}
</div>
<button (click)="nombre = 'Texto asignado dinamicamente'">Asignar Texto</button>
<button (click)="nombre = ''">Remover Texto</button> -->
<!-- <div appMiDirectiva>Ejemplo de directiva</div> -->
<!-- <ul>
  <li *ngFor="let persona of personas">Nombre: {{ persona }}</li>
</ul> -->
<!-- <div *ngIf="bandera">La bandera está activada</div>
<button (click)="bandera = true">Prender bandera</button>
<button (click)="bandera = false">Apagar bandera</button> -->

<!-- <div [ngSwitch]="valorSwitch">
  <span *ngSwitchCase="'valor1'">Valor 1</span>
  <p *ngSwitchCase="'valor2'">Valor 2</p>
  <strong *ngSwitchCase="'valor3'">Valor 3</strong>
</div>
<button (click)="valorSwitch = 'valor1'">Asignar VALOR 1</button>
<button (click)="valorSwitch = 'valor2'">Asignar VALOR 2</button>
<button (click)="valorSwitch = 'valor3'">Asignar VALOR 3</button> -->

<!-- <button (click)="decirHola()">Click me!</button> -->
<!-- 
<p>
  <label for="nombre">Nombre:</label>
  <input id="nombre" [(ngModel)]="nombre" />
</p>

<p>
  <label for="apellido">Apellido:</label>
  <input id="apellido" [(ngModel)]="apellido" />
</p>
<button (click)="verDatos()">Mostrar</button>
<button (click)="cargarDatos()">Cargar</button> -->

<div>SIN PIPE => Hoy es: {{ hoy }}</div>
<div>PIPE SIN OPCIONES => Hoy es: {{ hoy | date }}</div>
<div>PIPE CON LA OPCION short => Hoy es: {{ hoy | date : "short" }}</div>
<div>PIPE CON LA OPCION 'h:mm' => Hoy es: {{ hoy | date : "h:mm" }}</div>

<hr />
<div>
  {{ 25.5 | currency }}
</div>

<hr />
<div>
  {{ "Hola Mundo" | miPipe : "Mayus" }}
</div>

<button type="button" class="btn btn-primary">Primary</button>
