<div class="container">
  <form [formGroup]="formularioPrincipal" (submit)="submit()">
    Nombre:
    <input
      type="text"
      formControlName="nombre"
      [ngClass]="
        formularioPrincipal.get('nombre')?.invalid &&
        formularioPrincipal.get('nombre')?.dirty
          ? 'error'
          : ''
      "
    />
    <br />
    <span
      *ngIf="
        formularioPrincipal.get('nombre')?.invalid &&
        formularioPrincipal.get('nombre')?.dirty
      "
      >El nombre es incorrecto</span
    >
    <br />
    <br />Edad: <input type="text" formControlName="edad" /> <br />Género:
    <input type="text" formControlName="genero" />
    <br /><button type="submit">Registrarse</button>
  </form>
  <br />
  {{ formularioPrincipal.value | json }}
  <br />
  {{ formularioPrincipal.get("nombre")?.value | json }}
  <br />
  {{ formularioPrincipal.valid ? "Válido" : "No válido" }}
  <br />
  {{ formularioPrincipal.get("nombre")?.valid | json }}
</div>
<!-- <hr />
<h3>Formulario de Heroe</h3>
<form #heroForm="ngForm" (submit)="submit2()">
  <div>
    <label for="name">Nombre:</label>
    <input
      type="text"
      name="name"
      id="name"
      [(ngModel)]="heroe.name"
      required
    />
  </div>
  <div>
    <label for="name">Alter ego:</label>
    <input
      type="text"
      name="alterEgo"
      id="alterEgo"
      [(ngModel)]="heroe.alterEgo"
    />
  </div>
  <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>
</form> -->
<hr />
Ejemplo <input type="text" [formControl]="campoEjemplo" />
