<!-- CLASE 02 
<h1>Hola Mundo!!!</h1>
<hr />
<app-componente-uno></app-componente-uno>
<app-componente-dos></app-componente-dos> 

<h1>Clase 4</h1>
<app-interpolacion></app-interpolacion>

<h1>Clase 5</h1>
<app-abuelo></app-abuelo>

<h1>Clase 6</h1>
<app-formularios></app-formularios>

<h1>Clase 7</h1>
<app-ejemplos-material></app-ejemplos-material>

<h1>Clase 8</h1>
<app-pipes></app-pipes> 

<h1>Clase 9</h1>
<app-servicios></app-servicios>
<app-lista-alumnos></app-lista-alumnos>

<div class="m-4">
  <h1>Clase 10</h1>
  <app-observables></app-observables>
</div> -->

<div class="m-4">
  <h1>Clase 11</h1>
  <button routerLink="/">Home</button>
  <button routerLink="/mi-vista">Mi Vista</button>
  <button routerLink="/uno">Uno</button>
  <button routerLink="/dos">Dos</button>
  <p>
    <a routerLink="/">Home</a> | <a routerLink="/mi-vista">Mi Vista</a> |
    <a routerLink="/uno">Uno</a> | <a routerLink="/dos">Dos</a>
  </p>
  <p>
    <button (click)="irAMiVista()">Mi Vista</button>
  </p>
  <p>
    <button routerLink="/mi-vista" [queryParams]="{ alumno: 'Juan' }">
      Mi Vista con query params
    </button>
  </p>
  <hr />
  <router-outlet></router-outlet>
  <hr />
  &copy; 2023 Alex Marín Méndez
</div>
